:root {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(210, 80%, 20%);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.card {
    padding: .5em;
    margin: 0 auto;
    background-color: #fff;
    max-width: 400px;
    transform: translate(20px, 20px);
}

.card > img {
    max-width: 100%;
}